* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.app-body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 24px;
    font-weight: 600;
    color: #429de8;
}
img{
    margin-top: 20px;
}
label{
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0;
    color:  #429de8
}
input{
    padding:8px;
    border: 2px solid  #429de8;
    border-radius: 6px;
    width: 100%;
    margin-bottom: 15px;

}
button{
    margin:10px 10px 0 0;
    padding: 10px 8px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 14px;
    font-weight: 600;
}
.gr-btn{
    background: #429de8;
}
.dd-btn{
    background: #008000;
}
.gr-btn:hover{
    background: #0077b3;
}
.dd-btn:hover{
    background: #006400;
}

